/* Navigation bar */
.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link:hover {
    color: #021526;
}

nav,
.offcanvas {
    background-color: #DFD3C3;

}

.brand-icon {
    width: 130%;
}

.sidebar {
    width: 50% !important;
}

/* universal styles */



.all-sections {
    padding: 5% 9%;
}

.description-text {
    font-family: "Inter", sans-serif;

}

.description-button {
    font-family: "Raleway", sans-serif;
}


.section-heading {
    text-align: center;
    margin-bottom: 3%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Home section */

#Home {
    background-image: url("../Imperial Design Banquet Hall _ Reception Venues.jpg");
    text-align: center;
    padding-top: 5%;

}



.home-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 2%;
}

.home-image {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
    transition: transform 1.2s;


}

.home-image:hover {
    transform: scale(1.2);

}

.intro-text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 27px;

}






/* contact section  */
#Contact {
    text-align: center;
    background-color: #DFD3C3;
}


.footer-link {
    margin: 25px;
    color: #B0C5A4;
    text-decoration: none;

}





.copy-right {
    color: #5F5D9C;
    margin-top: 30px;
    font-size: 0.75rem;
    font-family: "Raleway", sans-serif;

}


/* Cart Page */